* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

h1 {
    font-family: mattone-black;
    font-size: 4rem;
    color: var(--txt);
    word-wrap: break-word;
    letter-spacing: 2px;

}

.Body {

    font-family: poppins;
    display: flex;
    flex-direction: column;

    background-color: var(--primary);
    scroll-behavior: smooth;
    color: var(--txt);


}



a {
    text-decoration: none;
    color: inherit;
}



/* ------------------------- */
/*    Variables              */
/* ------------------------- */

:root {


    font-size: 14px;
    --primary: #fcf9f1;
    --secondary: #BF9FEC;
    --terciary: #2E2E2E;

    --txt: #2E2E2E;
    --txt-secondary: #515151;



}


/* ------------------------- */
/*          Modos            */
/* ------------------------- */




/*          Light mode      */
/* ------------------------- */

.u-lightMode {

    --primary: #fcf9f1;
    --secondary: #BF9FEC;
    --terciary: #2E2E2E;

    --txt: #2E2E2E;
    --txt-secondary:#fcf9f1;




}



/*     Purple/Dark mode      */
/* ------------------------- */


.u-ruteaMode {

    --primary: #222222;
    --secondary: #EA8615;
    --terciary: #EA8615;
    --txt: rgba(242, 239, 234, 0.8);
    --txt-secondary: #222222;



}



/*         Pink mode         */
/* ------------------------- */


.u-pinkMode {
    --primary: #F3D2E4;
    --secondary: #B6355B;
    --terciary: #B6355B;
    --txt: #2E2E2E;
    --txt-secondary: #FAF0F5;

}



/*       Green mode           */
/* ------------------------- */

.u-matturaMode {

    --primary: #fcf9f1;
    --secondary: #33332D;
    --terciary: #33332D;
    --txt: #33332D;
    --txt-secondary: #fcf9f1;

}



.u-cocoMode{
    --primary: #454344;
    --secondary: #5BF7DF;
    --terciary: #F22D97;
    --txt: #454344;
    --txt-secondary: rgba(242, 239, 234, 0.8);
}





/* ------------------------- */
/*         Fuentes           */
/* ------------------------- */






@font-face {
    font-family: "aniko-bold";
    src: url(../fonts/mattone-bold.otf);
}


@font-face {
    font-family: "mattone-black";
    src: url(../fonts/mattone-black.otf);
}


@font-face {
    font-family: "mattone-regular";
    src: url(../fonts/mattone-regular.otf);
}





/* ------------------------- */
/*         Header            */
/* ------------------------- */



/* Header version mobile  */


.Header {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    /* background-color: var(--secondary); */
    color: var(--txt-secondary);
    background: var(--primary);
    border-bottom: 3px solid var(--secondary);
    border-radius: 0 0 0 50px;
    position: sticky;
    top: 0;
    z-index: 1;


}



.Header-navDekstop {
    display: none;
}




.Logo {
    width: 26px;
}

.Header-ul {
    display: flex;
    gap: 24px;
    align-items: center;
}


.Header-ul li {

    list-style: none;

}

.Header-li {
    display: flex;
    justify-content: space-between;
}




/* estilos para el botón cambio de modo */




.Main-modeButton {

    font-family: poppins;
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid var(--txt);
    color: var(--txt);
    background: none;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.Main-modeButton:active {
    transform: scale(0.7);
}









/* Menú desplegable versión mobile */
.Header-menu {


    position: absolute;
    top: 100px;
    right: -500px;
    box-shadow: 0 1px 1px var(--secondary);
    background-color: var(--primary);


    transition: right 0.8s ease;

    padding: 2rem;
    width: 300px;
    border: solid 3px var(--txt);
    border-radius: 4px 0px 0px 4px;
    z-index: 1;
}

.Header-menu.active {
    right: 0px;
}

.Header-close {
    width: 16px;
    border: none;
    background: none;

}



.Header-ulMenu li {

    list-style: none;
    padding-top: 16px;
    padding-bottom: 8px;

    border-bottom: solid 0.5px var(--txt);
    color: var(--txt);
}

.Header-ulMenu li svg {
    width: 14px;
}











.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;


}







.Footer {

    width: 100%;
    padding: 1rem 2.5rem;
    border-radius: 20px 0px 0px 0px;
    background-color: var(--secondary);
    border-top: 3px solid var(--txt);
    position: fixed;
    bottom: 0;


}

.Footer-navDekstop, .Footer-boton {
    display: none;
}



.Footer-nav {
    width: 100%;



}



.Footer-ul {

    display: flex;
    justify-content: space-between;
}

.Footer-ul li {
    list-style: none;
}

.Footer-svg {
    width: 32px;
    color: var(--primary);
}





.Main-modeButtonDiv {
    display: flex;
    justify-content: center;
}



.Main-modeButton svg {
    color: var(--primary);
    width: 20px;
    transition: transform 0.3s ease;

}


.Main-modeButton svg:active {

    transform: scale(0.7);
}

/* ---------------------------- */
/* Layout versión tablet */
/* ---------------------------- */


@media screen and (min-width:768px) and (max-width: 1023px) {

:root{
    font-size: 16px;
}



    h1 {
        font-weight: 900;
        font-size: 5rem;
    }

.Footer-navDekstop{
    color: var(--primary);
}



    .Footer-ulDekstop li {
        font-size: px;
        list-style: none;
        cursor: pointer;
    }


}






/* ---------------------------- */
/* Layout versión dekstop */
/* ---------------------------- */

@media screen and (min-width:1024px) {


    :root{
        font-size: 16px;
    }



    
    h1 {
        font-weight: 900;
        font-size: 8rem;
    }





    .Header-nav,
    .Header-menu {
        display: none;
    }


    .Header-navDekstop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;


    }




    .Header-ulDekstop {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 6rem;
        font-family: mattone-regular;
        color: var(--txt);

    }





    .Header-ulDekstop li {
        list-style: none;
        position: relative;
        transition: transform 0.3s ease-in;
    }





    .Header-ulDekstop li:active {
        transform: scale(0.7);

    }


    .Header-ulDekstop li a {

        text-decoration: none;
        padding-bottom: 6px;
        position: relative;

    }


    /* Pseudo elemento para la linea. Animación mencionada en la memoria  */
    .Header-ulDekstop li a::after {

        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--secondary);
        transition: width 0.6s ease-in;

    }


    .Header-ulDekstop li a:hover::after {
        width: 100%;
    }





    .Header-icons {
        display: flex;
        align-items: center;
        gap: 28px;
    }


    .Header-ulIcons {
        display: flex;
        align-items: center;
        gap: 32px;

        padding: 1rem 2rem;
        border-radius: 20px;
    }

    .Header-ulIcons li {
        list-style: none;
    }

    .Header-liIcons i {
        font-size: 18px;
        color: var(--txt);
        transition: color 0.3s ease, transform 0.3s ease;

    }



    .Header-liIcons i:hover {
        color: rgb(95, 95, 215);
        transform: scale(1.15);

    }



    .Main {
        padding: 1em;
    }







    .Footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }




    .Footer-nav {
        display: none;
    }




/* Acordeon Footer */



    .Footer-boton {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }



    .Footer-desplegar {
        width: 28px;
    }






    .Footer-contenido {
      max-height: 0;
      opacity: 0;
      transition: max-height 1s ease, opacity 0.5s ease;
     
     
 
    }



    .Footer-contenido.isActive {
     max-height: 300px;
     opacity: 1;
       
    }





    .Footer-navDekstop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
    }

    .Footer-ulDekstop {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }



    .Footer-ulDekstop li {
        font-size: 12px;
        list-style: none;
        cursor: pointer;
    }


}

;