.Body {
    font-size: 8px;
    scroll-behavior: smooth;
}



.Main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;

}

.Main-textoImagenes, .Main-imagenPrincipal, .Acordeon{
    display: none;
}




/* .Main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--txt);


}

.Main-ul {
    display: flex;
    gap: 32px;
    font-family: mattone-regular;
    font-size: 12px;


}


.Main-ul li {
    list-style: none;
}
 */


.Main-h1 {
    font-family: mattone-black;
    font-size: 2.5rem;
    letter-spacing: 4px;
}




.Main-h2 {
    font-family: mattone-bold;
    font-size: 22px;
}




.Main-introduccion{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.Main-introduccionMobile{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}


.Main-imgLogo{
  
    width: 100%;
    height: 200px;
    position: relative;
    
}
.Main-logoBoton{
   
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.Main-img {
    object-fit: cover;
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}




.Main-logo {
    width: 200px;
   
}

.Main-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.Main-p {
    text-align: center;
    font-size: 16px;
}




.Onboarding {
    display: flex;
    flex-direction: column;
    gap: 2em;
}





.Onboarding-imagenes {
    display: flex;
    justify-content: center;
    gap: 1em;
}





.Onboarding-img {
    width: 22%;
    border-radius: 10px;

}



.Prototipado-imagenes {


    width: 100%;
    height: 300px;




    overflow: hidden;
    overflow-y: scroll;

    display: grid;

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 4px;


}


.Prototipado-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.Video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Video-video {
    width: 200px;
}




@media screen and (min-width: 650px) {



    .Main-h1 {

        display: none;
    }







.Main-introduccion{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
   

}





    .Main-introduccionMobile {
        display: none;
    }


    .Onboarding {
        display: none;
    }


    .Prototipado {
        display: none;

    }



    .Video {
        display: none;
    }


    .Main-textoImagenes, .Main-imagenPrincipal{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

.Main-textoImagenes{

  
    gap: 4px;
    height: 100%;
    
  
}

.Main-texto{
    display: flex;
    flex-direction: column;
   
    gap: 50px;
    padding: 1rem;
    border: solid 3px var(--txt);
    border-radius:10px;
}




.Main-h1Dekstop{
    font-size: 80px;
    letter-spacing: 4px;
    color: var(--txt);
}


.Main-h2Dekstop{
    text-align: end;
    font-family: mattone-black;
    font-size: 20px;
    color: var(--txt);
    letter-spacing: 2px;
}



.Main-imagenes{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    overflow: hidden;
    
}

.Main-imagenesIntro{
    
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.Main-imagenPrincipal{
    width: 100%;
  

}

.Main-imagenPpal{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    
   
}

.Main-logoPrincipal{
    width: 200px;
    position: absolute;
    top: 30px;
    transform: translate(-50%, -50%);
    
}








    .Acordeon {
        padding: 4rem;
    }


    .acordeon-content {
        display: none;
    }


    .Acordeon-h2 {
        font-family: mattone-black;
        font-size: 60px;
        color: var(--txt);
        padding: 16px 0px;
        border-bottom: 0.3px solid var(--txt);
        cursor: pointer;
    }


    .Acordeon-contenido {

        display: flex;
        justify-content: center;
        gap: 24px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.3s ease-in;

    }



    .Acordeon-onboardingImagenes {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        gap: 8px;
    }






    .Acordeon-onboardingImg {
        width: 200px;
        border-radius: 8px;
    }



    .Acordeon-prototipadoImagenes {


        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        padding: 1rem;
        width: 60%;
        height: 100%;
       




    }

    .Acordeon-prototipadoImg {

        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 8px;

    }




    .Acordeon-videoVideo {
        width: 250px;
    }

    .Acordeon-contenido.active {
        max-height: 1350px;
    }













}