



.Main{
   
    padding: 1rem;
    margin-bottom: 7rem;
}



.Main-slider {
    display: none;
    
}


.Main-proyectosDk{
    display: none;
}

.Main-proyectos {
    padding-left: 32px;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scrollbar-width: none;
   
    scroll-snap-type: x proximity;
}


.Main-card {
    position: relative;


}

.Main-img {

    width: 185px;
    height: 370px;
    filter: brightness(50%);
    object-fit: cover;
    border-radius: 8px;



}


.Main-infoProyectos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    position: absolute;
    bottom: 20px;
    color: #F6F6F0;
    /* background-color: rgba(0, 0, 0, 0.1);
 */
}





.Main-cardButton {


    display: flex;
    
    gap: 2.5rem;
    align-items: center;
    font-family: poppins;
    font-size: 12px;
    border: none;
    border-bottom: 0.3px solid white;
    align-items: center;
    color: #F6F6F0;
    background: none;
    padding-bottom: 0.3rem;


}




.Main-logoCard{

    width: 100px;
}







.Main-carrousel {
    font-family: mattone-regular;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 2em;

    /* overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; */

    color: var(--txt);
}




/* ---------------------------- */
/*          Tablet            */
/* ---------------------------- */


@media screen and (min-width:768px) and (max-width: 1023px) {}






/* ---------------------------- */
/*          Dekstop            */
/* ---------------------------- */

@media screen and (min-width:1024px) {
   



    .Main-introBtnEntrar {
        display: none;
    }





    .Main-proyectos {
        display: none;

    }




   

    
    .Main-proyectosDk{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }
    

/* --------------------------------- */
/*              Slider               */
/* --------------------------------- */


    

    .Main-slider {
        
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        padding: 2rem;
        overflow: hidden;
        
    }



    
    .Main-card {
        
        width: 300px;
        max-width: 100%;
        position: relative;
        transition: all 1s ease;
        overflow: hidden;
        padding:1rem;
        border-left: 1px solid var(--txt);
        border-right: 1px solid var(--txt);
        

    }


     
    .Card-btnLogo {
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        transition: transform 1.5s ease, top 1s ease;
        z-index: 2;
    }






    .Card-logo{
        width: 100px;
    }





.Card-button {
        font-family: poppins;
        background: none;
        color: white;
        border: none;
        border-bottom: solid 0.4px white;
        cursor: pointer;
    }




    

    .Card-button svg {

        width: 14px;
    }






    .Main-card:hover .Card-btnLogo {

        top: 50%;
        transform: translate(-50%, -50%);
    
    }



    
    .Card-img{
        
        width: 100%;
        object-fit: cover;
        height: 300px;
        border-radius: 4px;
        filter: brightness(50%);
        transition: filter 0.8s ease;
        
    }



    .Main-card:hover .Card-img{
        filter: brightness(80%);
    }

    
    
    .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 10vh;
    }

    

    
    
    
    
/* --------------------------------- */
/*          Botones slider           */
/* --------------------------------- */
    
    .Slider-buttons{
        display: flex;
        justify-content: end;
        padding: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px black;
        gap: 3em;
    }
    
    
    
    .Slider-button{
        background:none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 20px;
        border: solid 0.3px;
    }
    
    .Slider-button svg{
        width: 24px;
    }




}