




.Body{
    background-color: var(--primary);
}





.Main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
    padding-top: 2rem;
}


.Acordeon{

  display: flex;
  flex-direction: column;
}








.Acordeon-pag{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    cursor: pointer;
    border-radius: 4px 20px 4px 4px;
    transition: width 0.8s ease;

}






.Acordeon-h2{
    font-family: mattone-bold;
    font-size: 48px;
   
}






.Acordeon-contenido {
    display: none;
    
     
}



.Acordeon-programasDiseno{


    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
   


}

.Acordeon-imagenLogo{
    width: 8%;
}









.Acordeon-pag1{
    background-color: var(--secondary);
    color: var(--primary);
    width: 25%;
    overflow: hidden;
    border: 3px solid var(--txt);

}


.Acordeon-pag2{
    border: 3px solid var(--secondary);
    background-color: var(--txt);
    color: var(--primary);
    width: 25%;
    overflow: hidden;

}


.Acordeon-pag3{

    background-color: var(--primary);
    color: var(--txt);
    border: solid 2px var(--txt);
    width: 25%;
    overflow: hidden;
}



.Acordeon-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.Acordeon-ulDigital{
    display: flex;
}





.Acordeon-ul li{
    list-style: none;
}

.Acordeon-div{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: space-between;
}







/* utilities que me permiten abrir la página del acordeón y mostrar el contenido */
.u-isActive {
    width: 100%;
}




.u-txtActive  {

display: block;
opacity: 1;

}




/* ---------------------------- */
/*          Tablet            */
/* ---------------------------- */


@media screen and (min-width:768px) and (max-width: 1023px) {



    .Acordeon{

      flex-direction: column;
    }

    .u-isActive {
        width: 100%;
    }

}


/* ---------------------------- */
/*          Dekstop            */
/* ---------------------------- */

@media screen and (min-width:1024px) {



    .Acordeon{
flex-direction: row;
justify-content: center;


}

.u-isActive {
    width: 70%;
}

}